@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto/roboto-v16-latin-regular.eot');
  src: url('../fonts/roboto/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-v16-latin-regular.woff2') format('woff2'),
  url('../fonts/roboto/roboto-v16-latin-regular.woff') format('woff'),
  url('../fonts/roboto/roboto-v16-latin-regular.ttf') format('truetype');
}


