<div class="portal-footer">
  <div class="col-lg-10 col-md-10 col-sm-12 created-by">1.0.0 - 2017 - © Globant. Created by Globant</div>
  <div class="col-lg-2 col-md-2 col-sm-12 rights-reserved">All Rights Reserved</div>
</div>
