.navbar-default{
  background-color:#c3d500;
  border-color: #fff;

  .navbar-nav li a {
    color: #fff;
  }
}
.navbar-nav {
    margin: 7.5px -15px;
    margin-right: -15px;
}


.pagination{
  .active a{
    background-color: #c3d500;
    border-color: #c3d500;
    &:hover{
      background-color: #c3d500;
      border-color: #c3d500;
    }
  }
}
.pager-nav .text-center{
  text-align: left;
}
.footer{
  .portal-footer{
    font-size: 11px;
  }
  .well{
    padding: 2px;
    background-color: #fff;
    border: 1px solid #000;
  }
}
  .well{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
  }
body{
  font-family: roboto;
  font-size: 14px;
  font-style: normal;
}

.view{
  .pager-nav{
    text-align: left;
  }
}
.view-filters{
  text-align: right;
}
