{% set module = 'social-auth' %}

{{ attach_library('social_auth/auth-icons') }}

{% for social_network in social_networks %}
  <a class="{{ module }} auth-link google-logo-icon btn btn-danger btn-sm" href="{{ path(social_network.route) }}">
    <i class="fa fa-google"></i>
  </a>
{% endfor %}
