{% set module = 'social-auth' %}

{{ attach_library('social_auth/auth-icons') }}

{% for social_network in social_networks %}
  <span class="google-logo-icon">
    Sign in with Google
    <a class="{{ module }} auth-link" href="{{ path(social_network.route) }}">
      <img class="{{ module }} auth-icon" src="themes/custom/globant_referral_theme/images/g-logo.png" alt="login with google">
    </a>
  </span>
{% endfor %}
